<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"
  defer
></script>
<style>
  /* header */
  header {
    z-index: 99;
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }

  header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    --bs-nav-link-padding-y: 0rem;
  }
  .username {
    margin-bottom: 0;
  }
  .nav-item {
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none !important;
  }

  h1 > a {
    display: block;
    width: 133px;
    height: 62px;
    background: no-repeat center/cover url('/img/header-logo.png');
  }

  .login {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }

  .logout {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-item {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
    margin-right: 12px;
  }
  .store-management {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }

  .mypagebtn {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }
</style>

<header>
  <div class="wrap">
    <h1><a href="/"></a></h1>
    <ul class="nav justify-content-end">
      <% if (locals.user) { %>
      <li class="nav-item">
        <p class="username nav-link disabled">안녕하세요, <%= locals.user.email %>님</p>
      </li>
      <li class="nav-item">
        <a href="/point-payment">포인트충전</a>
      </li>
      <li class="nav-item">
        <a href="/cart">장바구니</a>
      </li>
      <li class="nav-item">
        <a href="/user/orders">내 주문보기</a>
      </li>
      <li class="nav-item">
        <a class="logout nav-link" href="/">로그아웃</a>
      </li>
      <% } else if (locals.owner) { %>
      <li class="nav-item">
        <a class="nav-link disabled">안녕하세요, <%= locals.owner.email %>님</a>
      </li>
      <li class="nav-item">
        <a class="nav-link store-management" href="/store_management"> 가게 관리 </a>
      </li>
      <li class="nav-item">
        <a class="logout nav-link" href="/"> 로그아웃 </a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="login nav-link" href="/login">로그인</a>
      </li>
      <% } %>
    </ul>
  </div>

  <script>
    const logoutButton = document.querySelector('.logout');
    if (logoutButton) {
      logoutButton.addEventListener('click', async () => {
        try {
          const response = await fetch('/api/logout', {
            method: 'POST',
          });

          const data = await response.json();
          alert(data.message);
          window.location.reload();
        } catch (error) {
          console.error('로그아웃 도중 오류가 발생했습니다.', error);
        }
      });
    }
  </script>
</header>
