<style>
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px 80px;
    width: 100%;
  }
  button {
    width: 115px;
    color: #fff;
    background-color: #ee2b26;
    border: 2px solid #ee2b26;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
</style>

<div class="button-container">
  <button id="store-management">가게 관리</button>
  <button id="owner-order">주문 확인</button>
  <button id="menu-management">메뉴 관리</button>
</div>

<script>
  // 가게 관리 페이지 버튼
  const storeManagement = document.querySelector('#store-management');

  //  주문 확인 페이지 버튼
  const ownerOrder = document.querySelector('#owner-order');

  // 메뉴 관리 페이지 버튼
  const menuManagement = document.querySelector('#menu-management');

  // 가게 관리 페이지로 이동
  storeManagement.addEventListener('click', () => {
    window.location.href = `/store_management`;
  });

  // 주문 확인 페이지로 이동
  ownerOrder.addEventListener('click', () => {
    window.location.href = `/owners/orders/${ownerId}`;
  });

  // 메뉴 관리 페이지 이동 버튼
  menuManagement.addEventListener('click', () => {
    window.location.href = `/menu_management/stores/${storeId}`;
  });
</script>
