<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/board.css" />
    <script src="/js/board.js" defer></script>
  </head>
  <body>
    
    <h1>보드페이지입니다.</h1>
    <div class="container">
      <div id="modal-btn">
        컬럼추가하기
      </div>
      <section id="column-list" class="column-list"></section>
    </div class="container">

    <div class="modal">
      <div class="modal-body">
        
      </div>
    </div>
  </body>
</html>
