<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <!-- <%- include('includes/header') %> -->
    <h1>메인페이지입니다.</h1>
    <div class="board-from">
      <p>보드이름</p>
      <input class="name-input" type="text">
      <p>보드설명</p>
      <input class="desc-input" type="text">
      <button class="board-create-btn">보드 생성하기</button>
    </div>
    <section  class="board-section">
      <h2 class="title">소속된 보드</h1>
      <ul class="board">
        <!-- <li>
          <h3 class="board-title">작업명</h3>
          <p class="board-desc">설명입니다아아아아아아아</p>
        </li> -->
      </ul>
    </section>
  </body>
</html>
