<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <!-- <%- include('includes/header') %> -->
    <h1>메인페이지입니다.</h1>
  </body>
</html>
