<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="/js/login.js" defer></script>
  </head>

  <body>
    <section>
      <div>
        <p>이메일</p>
        <input class="login-email" placeholder="이메일을 입력해주세요." type="text" />
        <p>패스워드</p>
        <input class="login-password" placeholder="패스워드를 입력해주세요." type="password" />
        <button class="login-btn">로그인하기</button>
      </div>
      <a href="/auth">회원가입하기</a>
    </section>
  </body>
</html>
