<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 수정페이지</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/user.js" defer></script>
  </head>
  <body>
    <h1>유저 정보 수정페이지입니다.</h1>
    <section>
      <div>
        <p>이름</p>
        <input class="user-name" placeholder="이름을 입력하세요." type="text" />
        <p>이메일</p>
        <input class="user-email" placeholder="이메일를 입력하세요." type="text" />
        <p>비밀번호</p>
        <input class="user-password" placeholder="비밀번호를 입력하세요." type="password" />
        <p>비밀번호 재입력</p>
        <input class="user-confirm-password" placeholder="비밀번호를 입력하세요." type="password" />
        <button class="user-btn">유저 정보 수정하기</button>
        <button class="user-delete-btn">유저 삭제하기</button>
        <h1>test</h1>
      </div>
    </section>
  </body>
</html>
